PORT=5000
DB_URL=mongodb+srv://example.db_user:example.db_password@cluster0.eko35.mongodb.net/example-db?retryWrites=true&w=majority&appName=Cluster0 
NODE_ENV=development

#jwt
JWT_ACCESS_SECRET=ask_admin
JWT_ACCESS_EXPIRES=ask_admin

#bcrypt
BCRYPT_SALT_ROUND=ask_admin

#super_admin
SUPER_ADMIN_EMAIL=ask_admin
SUPER_ADMIN_PASSWORD=ask_admin